
{erl_opts, [
    debug_info
]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{dialyzer_opts, [{warnings, [unmatched_returns]}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{deps, [
    %{'ibrowse', ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "master"}},
    %{'erlmongo', ".*", {git, "git://github.com/wpntv/erlmongo.git", "master"}},
    {'kvc', ".*", {git, "git://github.com/etrepum/kvc.git", "master"}},
    {reloader, ".*", {git, "git://github.com/brendanhay/reloader.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
    %{amqp_client, ".*", 
    %    {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq_2.7.1-community"}}
    %}
]}.

% vim:ft=erlang
